<header>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <a href="/index.html"><img src="/src/Image/UKProjLogo.png" alt="Company Logo"></a>
            </div>
            <button class="mobile-menu-btn">☰</button>
            <ul class="nav-links">
                <li><a href="/index.html" id="home-link">Home</a></li>
                <li><a href="/properties.html" id="properties-link">Properties</a></li>

                <!-- Dropdown Menu -->
                <li class="dropdown">
                    <a href="" id="associated-link">Associated Companies ▼</a>
                    <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="https://daejanholdings.com/" target="_blank">Daejan Holdings</a></li>
                        
                    </ul>
                 
                </li>

                <li><a href="/people.html" id="people-link">People</a></li>
                <li><a href="/financials.html" id="financials-link">Financials</a></li>
                <li><a href="/contact.html" id="contact-link">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>