<header>
    
    <nav>
        <div class="nav-container">
            <div class="logo">
                <a href="/index.html"><img src="/src/Image/UKProjLogo.png" alt="Company Logo"></a>
            </div>
            <button class="mobile-menu-btn">☰</button>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/properties.html">Properties</a></li>
                <li><a href="/AssociatedCompanies.html">Associated Companies</a></li>
                <li><a href="/people.html">People</a></li>
                <li><a href="/financials.html">Financials</a></li>               
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>
